{% extends 'app.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block container %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
<h3>{{ title }}:</h3>
{{ form(form) }}
{% endblock %}
{% block javascripts %}
<script>
var ajaxURL = '{{ path('admin.ajaxURL') }}';
</script>
{% if (scripts is defined) %}
    {% for script in scripts %}
        <script type="text/javascript" src="{{ asset(script) }}"></script>
    {% endfor %}
{% endif %}
{% endblock %}
